## Data Filtering and Selection

In [1]:
pip install pandas

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np

from pandas import DataFrame

In [3]:
# numbers dataframe obj
numbers_df = DataFrame(np.arange(0,90,3).reshape(10,3),
index =['row 1','row 2','row 3','row 4','row 5','row 6','row 7','row 8','row 9','row 10'] 
,columns = ['column 1', 'column 2', 'column 3'])

In [4]:
print(numbers_df)

        column 1  column 2  column 3
row 1          0         3         6
row 2          9        12        15
row 3         18        21        24
row 4         27        30        33
row 5         36        39        42
row 6         45        48        51
row 7         54        57        60
row 8         63        66        69
row 9         72        75        78
row 10        81        84        87

In [5]:
numbers_df.iloc([0,1])

TypeError: unhashable type: 'list'

In [6]:
numbers_df.iloc[0,1]

np.int64(3)

In [7]:
print(numbers_df.iloc[0,1])

3

In [8]:
print(numbers_df.iloc[6,2])

60

In [9]:
numbers_df.iloc[0,1] = 20
print(numbers_df)

        column 1  column 2  column 3
row 1          0        20         6
row 2          9        12        15
row 3         18        21        24
row 4         27        30        33
row 5         36        39        42
row 6         45        48        51
row 7         54        57        60
row 8         63        66        69
row 9         72        75        78
row 10        81        84        87

In [10]:
print(numbers_df.iloc[[1,2,4],[1,2]])

       column 2  column 3
row 2        12        15
row 3        21        24
row 5        39        42

In [11]:
print(numbers_df.iloc[1,3])

IndexError: index 3 is out of bounds for axis 0 with size 3

In [12]:
print(numbers_df.iloc[3,2])

33

In [13]:
print(numbers_df.iloc[[5,4,9,2],[0,1]])

        column 1  column 2
row 6         45        48
row 5         36        39
row 10        81        84
row 3         18        21

In [14]:
mask = numbers_df > 25

In [15]:
print(mask)

        column 1  column 2  column 3
row 1      False     False     False
row 2      False     False     False
row 3      False     False     False
row 4       True      True      True
row 5       True      True      True
row 6       True      True      True
row 7       True      True      True
row 8       True      True      True
row 9       True      True      True
row 10      True      True      True

In [16]:
mask = 70 > numbers_df > 30
print(mask)

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [17]:
print(mask)

        column 1  column 2  column 3
row 1      False     False     False
row 2      False     False     False
row 3      False     False     False
row 4       True      True      True
row 5       True      True      True
row 6       True      True      True
row 7       True      True      True
row 8       True      True      True
row 9       True      True      True
row 10      True      True      True

In [18]:
numbers_df[mask]

        column 1  column 2  column 3
row 1        NaN       NaN       NaN
row 2        NaN       NaN       NaN
row 3        NaN       NaN       NaN
row 4       27.0      30.0      33.0
row 5       36.0      39.0      42.0
row 6       45.0      48.0      51.0
row 7       54.0      57.0      60.0
row 8       63.0      66.0      69.0
row 9       72.0      75.0      78.0
row 10      81.0      84.0      87.0

In [19]:
numbers_df[numbers_df > 50]

        column 1  column 2  column 3
row 1        NaN       NaN       NaN
row 2        NaN       NaN       NaN
row 3        NaN       NaN       NaN
row 4        NaN       NaN       NaN
row 5        NaN       NaN       NaN
row 6        NaN       NaN      51.0
row 7       54.0      57.0      60.0
row 8       63.0      66.0      69.0
row 9       72.0      75.0      78.0
row 10      81.0      84.0      87.0

In [20]:
print(mask)

        column 1  column 2  column 3
row 1      False     False     False
row 2      False     False     False
row 3      False     False     False
row 4       True      True      True
row 5       True      True      True
row 6       True      True      True
row 7       True      True      True
row 8       True      True      True
row 9       True      True      True
row 10      True      True      True

In [21]:
mask = numbers_df < 70

In [22]:
print(mask)

        column 1  column 2  column 3
row 1       True      True      True
row 2       True      True      True
row 3       True      True      True
row 4       True      True      True
row 5       True      True      True
row 6       True      True      True
row 7       True      True      True
row 8       True      True      True
row 9      False     False     False
row 10     False     False     False

In [23]:
mask = numbers_df > 30 & numbers_df < 70
print(mask)

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [24]:
numbers_df[numbers_df > 50] = 0
print(numbers_df)

        column 1  column 2  column 3
row 1          0        20         6
row 2          9        12        15
row 3         18        21        24
row 4         27        30        33
row 5         36        39        42
row 6         45        48         0
row 7          0         0         0
row 8          0         0         0
row 9          0         0         0
row 10         0         0         0

In [25]:
numbers_df.iloc[3:6,1:3]

       column 2  column 3
row 4        30        33
row 5        39        42
row 6        48         0